@using LibraryWebUI.Models
@using CoreLibrary.Inventory
@{
	ViewData["Title"] = "AccountDetails";
	ViewData["StyleSheet"] = "account-details.css";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>@Model.UserAccount.FirstName @Model.UserAccount.LastName </h2>

<p><span style="font-weight:bold;">Email:</span> @Model.UserAccount.Email</p>

<hr />
<h3>Books on loan:</h3>
<div class="row" style="display:inline-block; height:500px;" >
	@foreach (IBook book in InventoryManager.GetCheckedOutBooksByUser(Model.UserAccount.Email)) {
		<div class="col-xs-1" style="min-height:500px; max-height:500px;" >
			<a href="@Url.Action("BookDetails", "Member", new { libraryID=@book.LibraryID })">
				<img class="img-rounded img-responsive" src="@($"data:image/png;base64,{Convert.ToBase64String(book.ImageBytes)}")">
			</a>
			<h5 id="due-date-container" class="text-center" >
				@if (DateTime.Today.Day >= InventoryManager.GetDueDate(book.LibraryID).Day) {
					<font class="overdue">OVERDUE</font>
				} else {
					@:Due: @(InventoryManager.GetDueDate(book.LibraryID).ToString("MM/dd"))
				}
			</h5>
		</div>
	}
</div>


