@model LibraryWebUI.ViewModels.Member.BrowseViewModel
@using CoreLibrary.Inventory
@{
	ViewData["Title"] = "BrowseInventory";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>Browse Books</h2>

<div class="form-inline">
	<div class="row">
		<div class="col-xs-3">
			<form asp-action="SortSearch" method="post">
				<label for="sortSearchBy">Sort By:</label>
				<div class="form-inline">
					<select name="sortSearchBy" class="form-control form-control-sm">
						<option value="title">Title</option>
						<option value="author">Author</option>
						<option value="libraryID">Library ID</option>
					</select>
					<input type="submit" value="Sort" class="btn btn-toolbar text-center" />
				</div>
			</form>
		</div>
		<div class="col-xs-7 pull-left">
			<form asp-action="SearchByUserString" method="post">
				<label for="searchString">Search:</label>
				<div class="form-inline">
					<input type="text" size="50" name="searchString" class="form-control form-control-sm" />
					<input type="submit" value="Search" class="btn btn-toolbar text-center" />
				</div>
			</form>
		</div>
	</div>
</div>

<div>
	@{
		foreach (IBook book in Model.Books) {
			<hr style="border-top: 1px solid; margin-top: 50px; margin-bottom:50px;" />

			<form asp-action="BookDetails" method="post">
				<input hidden type="number" name="libraryID" value="@book.LibraryID" />
				<input 
					   style="text-align:left; margin-left:0; padding:0; font-size:200%; color:#000000; width:90%; font-style:italic" 
					   type="submit" 
					   class="btn btn-link" 
					   value="@book.Title" />
			</form>
			<h4>By: @book.Author</h4>
			<div class="row">
				<div class="col-xs-9">
					Description:
					<textarea readonly style="width:100%; overflow:hidden; padding:10px;" rows="4">@book.Description</textarea>
				</div>

				@if (LibraryWebUI.Models.AccountRepository.LoggedInAccount != null) {
					<div class="col-xs-2">
						<form asp-action="ReserveBook" method="post" style="margin:0;padding:0;">
							<input hidden type="number" name="libraryID" value="@book.LibraryID" />
							<input type="submit" class="btn btn-primary" value="Reserve" />
						</form>
					</div>
				}
				
			</div>
		}
	}
</div>
