@model LibraryWebUI.ViewModels.Member.CartViewModel
@using CoreLibrary.Inventory

@{
	ViewData["Title"] = "Cart";
	ViewData["StyleSheet"] = "cart.css";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<hr />

@if (Model.CartContents.Count() == 0) {
	<h1>Your cart is empty!</h1>
} else {




	<div class="text-right">
		<form asp-action="Checkout" method="post" onsubmit="checkout.disabled = true; checkout.value = 'Checking Out...'; return true;">
			<input type="submit" name="checkout" class="btn btn-primary" value="Checkout!" />
		</form>
	</div>

	<div>
		@{
			foreach (ILibraryItem book in Model.CartContents) {
				<hr class="hr-divider-equal" />
				<div class="row">

					<div class="col-xs-1 shrink-wrap">
						<img src="@($"data:image/png;base64,{Convert.ToBase64String(book.ImageBytes)}")" class="img-responsive center">
						<p id="format" class="text-center">
							<span class="italic">@book.Format</span> <br />
						</p>
					</div>

					<div class="col-xs-10">
						<form asp-action="BookDetails" method="post">
							<input hidden type="number" name="libraryID" value="@book.LibraryID" />
							<input type="submit" class="btn btn-link title" value="@book.Title" />
						</form>
						<div class="row">
							<div class="col-xs-12 description-container">
								<textarea class="description" readonly rows="4">@book.Description</textarea>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<form id="form-remove" class="pull-left" asp-action="RemoveFromCart" method="post">
							<input hidden type="number" name="libraryID" value="@book.LibraryID" />
							<input type="submit" class="btn btn-danger" value="Remove" />
						</form>
					</div>
				</div>


			}
		}
	</div>

}
